.homepage-btn a{
    text-decoration: none;
    color: white;
}
.homepage-btn{
    padding: 10px;
}
.link-page-container h2{
    text-align: center;
}
.link-page-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}